*{
    padding: 30px;
    justify-content: space-evenly;
    list-style: none;

}
h1{
    font-weight: bold;
    color: brown;
    font-size: 40pt;
    margin-left: 20pc;
    
}
img{
    height: 200px;
}
